@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* smooth scroll for #anchors */
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

/* if you use scroll-mt-24 on sections + sticky header, this helps */
#root {
  min-height: 100vh;
}
